In [9]:
import pathlib

import numpy as np
import pandas as pd

In [2]:
BASE = pathlib.Path.cwd()
print(BASE)

/Users/sebastianberns/IGGI/Modules/4 Methods & Data 2/Project/ClashRoyaleML

In [3]:
df = pd.read_csv(BASE/'data_clean'/'matches_10000.csv')

In [4]:
df.head()

,Unnamed: 0,type,result,time,players.right.deck,players.right.trophy,players.right.clan,players.right.name,players.left.deck,players.left.trophy,players.left.clan,players.left.name
0,0,ladder,"['2', '0']",2017-07-12,"[['Mega Minion', '9'], ['Electro Wizard', '3']...",4258,TwoFiveOne,gpa raid,"[['Fireball', '9'], ['Archers', '12'], ['Gobli...",4325,battusai,Supr4
1,1,ladder,"['1', '0']",2017-07-12,"[['Ice Spirit', '10'], ['Valkyrie', '9'], ['Ho...",4237,The Wolves,TITAN,"[['Royal Giant', '13'], ['Ice Wizard', '2'], [...",4296,battusai,Supr4
2,2,ladder,"['0', '1']",2017-07-12,"[['Miner', '3'], ['Ice Golem', '9'], ['Spear G...",4300,@LA PERLA NEGRA,Victor,"[['Royal Giant', '13'], ['Ice Wizard', '2'], [...",4267,battusai,Supr4
3,3,ladder,"['1', '0']",2017-07-12,"[['Golem', '6'], ['Zap', '12'], ['The Log', '2...",4240,ADAMLAR,toprak,"[['Royal Giant', '13'], ['Ice Wizard', '2'], [...",4299,battusai,Supr4
4,4,ladder,"['1', '1']",2017-07-12,"[['Baby Dragon', '6'], ['Ice Spirit', '12'], [...",4628,帝愛,兵藤 和尊,"[['Graveyard', '3'], ['Ice Wizard', '3'], ['Za...",4598,Nova l Imperio,ACM1PT!

In [10]:
index = np.array(df.index.values)

In [14]:
np.random.shuffle(index)
index

array([3065, 1114, 8193, ..., 7640,  186, 5803])

In [23]:
N = 99999
TESTSPLIT = 20/100.0
N_test = round(N * TESTSPLIT)
N_test

20000

In [25]:
print( np.random.shuffle( np.array(df.index.values) ) )

None

In [26]:
index_test = index[:100]
index_test

array([3065, 1114, 8193, 3557, 8357, 3573, 7237, 5960, 6831, 6571, 1626,
       3240, 1014, 9323, 9419, 3519, 9450, 8642, 6458, 2200, 1705, 5085,
       1135, 5766, 2081, 7392, 6821, 3375, 7238, 8174, 7129, 1343, 5453,
       6590, 1667, 7558, 9336, 2193, 3945, 1287, 3888, 1716, 7583, 7966,
       1094,  324, 7657, 2450, 8549, 9851, 7650, 4693, 6505, 2349, 4220,
       8962, 5427, 8630, 7313, 5056, 8245, 6836, 7714,  876, 6808, 3086,
       7830, 6810, 5861, 5033, 3484, 6915, 8250, 6780, 9767, 8408, 8033,
       4448, 6918, 2276, 2177,  161, 2371, 5444,  181, 5578, 3333, 8225,
       9951, 1589, 1101, 3085, 3881, 7893, 4780, 9540, 9643, 6052, 4690,
       8585])

In [30]:
df_test = df.iloc[index_test]
df_test

,Unnamed: 0,type,result,time,players.right.deck,players.right.trophy,players.right.clan,players.right.name,players.left.deck,players.left.trophy,players.left.clan,players.left.name
3065,3065,ladder,"['3', '1']",2017-07-12,"[['Goblin Barrel', '8'], ['Inferno Tower', '11...",5092,Nova I Iran,King Of IRAN 3,"[['Night Witch', '5'], ['Fireball', '11'], ['M...",5248,Nova eSports,Nova I CMcHugh
1114,1114,challenge,"['3', '0']",2017-07-12,"[['Inferno Dragon', '1'], ['Hog Rider', '5'], ...",2325,Tayfa_52,lGGlEmirBey,"[['Hog Rider', '7'], ['Bomb Tower', '7'], ['Th...",4687,Nova Brazil 3,pyetra
8193,8193,ladder,"['1', '0']",2017-07-12,"[['Knight', '13'], ['Goblin Gang', '13'], ['Go...",4750,찹찹이와칭구들,Elite <이니시스>,"[['Ice Spirit', '12'], ['Fire Spirits', '13'],...",4827,Star Alliance,~Christian~
3557,3557,tournament,"['3', '1']",2017-07-12,"[['Dark Prince', '2'], ['Wizard', '6'], ['Skel...",0,world royale,death power,"[['Miner', '1'], ['Bowler', '4'], ['Executione...",116,RaZe eSports,Agar.io Bros
8357,8357,ladder,"['1', '1']",2017-07-12,"[['Minions', '13'], ['Barbarians', '13'], ['Go...",4803,iraq Devils,༺༜࿆༼QASIM༽༜࿆༻,"[['Hog Rider', '11'], ['Tornado', '7'], ['Prin...",4824,Impulse™,Trainer Trigga™
...,...,...,...,...,...,...,...,...,...,...,...,...
9540,9540,ladder,"['0', '1']",2017-07-12,"[['Knight', '13'], ['Skeletons', '13'], ['Arro...",4821,Reddit Bravo,Predator,"[['Elixir Collector', '11'], ['Battle Ram', '1...",4738,薛家军,一叶
9643,9643,challenge,"['1', '0']",2017-07-12,"[['Ice Spirit', '9'], ['Zap', '9'], ['Bandit',...",4370,AndaluciaRoyale,RuuGg7,"[['P.E.K.K.A', '4'], ['Poison', '4'], ['Night ...",4938,AndaluciaRoyale,xXDarktarmoXx
6052,6052,ladder,"['3', '0']",2017-07-12,"[['Baby Dragon', '7'], ['Knight', '13'], ['The...",4680,korean,최해피,"[['Goblin Barrel', '7'], ['Goblin Gang', '13']...",4765,薛家军,因故之城
4690,4690,ladder,"['1', '2']",2017-07-12,"[['Golem', '6'], ['Elite Barbarians', '13'], [...",4682,paiN Gaming,Troll PH,"[['Hog Rider', '11'], ['Barbarians', '13'], ['...",4634,STK,"[email protected]/* <![CDATA[ */!function(t,e,..."
8585,8585,challenge,"['1', '0']",2017-07-12,"[['Night Witch', '1'], ['P.E.K.K.A', '4'], ['B...",4606,Galaxy eSports,#El_Tocallo!!!,"[['Rocket', '7'], ['Goblin Gang', '9'], ['Dart...",4366,GLORY MAKERS MX,MHJ HEBY

In [36]:
print("{:.0f}".format(1.02))

1